
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <title>Homepage</title>

        <h1 style="text-align: center;font-size: xx-large; font-style: italic">Choose an app for use: </h1>
        <p style="text-align: center;font-size: x-large; font-style: italic"><a href='/api/v1/'>API</a></p>
        <p style="text-align: center;font-size: x-large; font-style: italic"><a href={% url 'my_first_web:index' %}>Course Shop</a></p>
        <p style="text-align: center;font-size: x-large; font-style: italic"><a href='/admin'>ADMIN panel</a></p>
</head>
<body>

</body>
</html>